rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Permite acceso a la carpeta "consorcios" solo a usuarios autenticados
    match /consorcios/{consortiumId}/{allPaths=**} {
      allow read, write: if request.auth != null && (
        firestore.get(/databases/(default)/documents/consortiums/$(consortiumId)).data.adminIds.hasAny([request.auth.uid]) ||
        firestore.exists(/databases/(default)/documents/user_access/$(request.auth.token.email)/consortium_roles/$(consortiumId)) ||
        (firestore.exists(/databases/(default)/documents/user_access/$(request.auth.token.email)) && 
         consortiumId in firestore.get(/databases/(default)/documents/user_access/$(request.auth.token.email)).data.consortiumIds)
      );
    }
  }
}